@primary-color: #FFF; // white
@primary-contrast-color: #000; // black
@secondary-color: #40b2ca; // aqua

@selected-color: #D7D94D; // yellow
@hover-color: #79d5e8; // bright aqua
@disabled-color: @medium-grey;

@dark-grey: #1a1a1a;
@medium-grey: #393939;
@light-grey: #d0d0c4;
@kineo-charcoal: #141514;

@failed-color: #92152f; // red
@passed-color: #2a8113; // dark green
@excelled-color: #9dd92b; // bright green
@correct-color: @passed-color;
@incorrect-color: @failed-color;

@complete-color: @passed-color;
@incomplete-color: #e2da7f; // yellow
@current-color: @secondary-color;
